
<div class="navbar navbar-default navbar-static">
	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active">
				{{link-to "Home" 'application'}}
			</li>
			<li>
				{{link-to "About" 'about'}}
			</li>
			<li>
				{{link-to "Speakers" 'speakers'}}
			</li>
		</ul>
	</div>

</div>

<h2 class="text-center" id='title'>Welcome to Ember Rails</h2>
{{outlet}}
