<ul class="nav nav-pills nav-stacked">
	<li>{{link-to "Add Speakers" 'speakers.create' }}</li>
	{{#each}}
   	<li>{{#link-to 'speakers.show' this}} {{name}} ({{presentations.length}}) {{/link-to}}</li>
	{{/each}}
</ul>

